<div class="full-title">
	<div class="container">
		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">About Us
			<small>VHC</small>
		</h1>
	</div>
</div>
<!-- Page Content -->
<div class="container">
	<div class="breadcrumb-main">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<%= link_to 'Home', home_path, class: "breadcrumb-item" %>
			</li>
			<li class="breadcrumb-item active">About</li>
		</ol>
	</div>
	<!-- About Content -->
	<div class="about-main">
		<div class="row">
			<div class="col-lg-6">
				<%= image_tag("about-img.jpg", class: "img-fluid rounded mb-4", alt: "") %>
			</div>
			<div class="col-lg-6">
				<h2>About Modern Business</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- Team Members -->
	<div class="team-members-box">  
		<h2>Our Team</h2>
		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="card h-100 text-center">
					<%= image_tag("team_01.jpg", class: "card-img-top", alt: "") %>
					<div class="card-body">
						<h4 class="card-title">Team Member</h4>
						<h6 class="card-subtitle mb-2 text-muted">Position</h6>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
					</div>
					<div class="card-footer">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card h-100 text-center">
					<%= image_tag("team_02.jpg", class: "card-img-top", alt: "") %>
					<div class="card-body">
						<h4 class="card-title">Team Member</h4>
						<h6 class="card-subtitle mb-2 text-muted">Position</h6>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
					</div>
					<div class="card-footer">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card h-100 text-center">
					<%= image_tag("team_03.jpg", class: "card-img-top", alt: "") %>
					<div class="card-body">
						<h4 class="card-title">Team Member</h4>
						<h6 class="card-subtitle mb-2 text-muted">Position</h6>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
					</div>
					<div class="card-footer">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- Our Customers -->
	<div class="customers-box"> 
		<h2>Our Customers</h2>
		<div class="row">
			<div class="col-lg-2 col-sm-4 mb-4">
				<%= image_tag("logo_01.png", class: "img-fluid", alt: "") %>
			</div>
			<div class="col-lg-2 col-sm-4 mb-4">
				<%= image_tag("logo_02.png", class: "img-fluid", alt: "") %>
			</div>
			<div class="col-lg-2 col-sm-4 mb-4">
				<%= image_tag("logo_03.png", class: "img-fluid", alt: "") %>
			</div>
			<div class="col-lg-2 col-sm-4 mb-4">
				<%= image_tag("logo_04.png", class: "img-fluid", alt: "") %>			
			</div>
			<div class="col-lg-2 col-sm-4 mb-4">
				<%= image_tag("logo_05.png", class: "img-fluid", alt: "") %>				 
			</div>
			<div class="col-lg-2 col-sm-4 mb-4">
				<%= image_tag("logo_06.png", class: "img-fluid", alt: "") %> 
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
